
<div class="card">
  <div class="card-header">
    <h4>Edit Lead</h4>
  </div>
  <div class="card-body">

<%= render 'form', lead: @lead %>

<br>
<pre><%= link_to 'Show', @lead ,class:"btn btn-secondary"  %>  <%= link_to 'Back', leads_path,class:"btn btn-secondary" %></pre>


</div>
</div>